@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/*@import url(https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css);*/

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 40px;
}

.body-start {
    padding-top: 70px;
}

h1, h2, h3 {
    font-weight: 300;
}

.validation-error {
    color: #dd1531;
    font-size: 0.8em;
}

form .ng-dirty.ng-invalid {
    border: 1px solid #dd1531;
}

form .ng-dirty.ng-valid {
    border: 1px solid #00DD00;
}

.sentiment-color {
    color: #FFF;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background: linear-gradient(to right, rgba(154, 37, 25, 1) , rgba(60, 231, 139, 1)); /* Standard syntax */
}

#motto {
    cursor: default;
}

.sentiment {
    padding-left: 8px;
}

.sentiment- {
    border-left: 3px solid #EEE;
}
.sentiment-0 {
    border-left: 3px solid #9A2519;
}
.sentiment-1 {
    border-left: 3px solid #E74C3C;
}
.sentiment-2 {
    border-left: 3px solid #FF6B5C;
}
.sentiment-3 {
    border-left: 3px solid #099A4D;
}
.sentiment-4 {
    border-left: 3px solid #3CE78B;
}